::-moz-selection {
  color: rgba(0, 0, 0, 0.87);
  background-color: #c4fafd;
}

::selection {
  color: rgba(0, 0, 0, 0.87);
  background-color: #c4fafd;
}

a {
  color: #06bcc6;
}

a:hover {
  color: #04848b;
}

dt {
  color: #035e63;
}

.button {
  color: #ffffff;
  border-color: #06bcc6;
  background-color: #06bcc6;
}

.button:focus,
.button:hover {
  border-color: #05979e;
  background-color: #05979e;
}

.button {
  color: #ffffff;
  border-color: #06bcc6;
  background-color: #06bcc6;
}

.button:focus,
.button:hover {
  border-color: #05979e;
  background-color: #05979e;
}

.button[disabled]:focus,
.button[disabled]:hover {
  border-color: #06bcc6;
  background-color: #06bcc6;
}

.button.button-outline {
  color: #06bcc6;
  background-color: transparent;
}

.button.button-outline:focus,
.button.button-outline:hover {
  color: #05979e;
  border-color: #05979e;
  background-color: transparent;
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover {
  color: #06bcc6;
  border-color: inherit;
}

.button.button-clear {
  color: #06bcc6;
  border-color: transparent;
  background-color: transparent;
}

.button.button-clear:focus,
.button.button-clear:hover {
  color: #05979e;
  border-color: transparent;
  background-color: transparent;
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover {
  color: #06bcc6;
}

ul.menu a:hover {
  color: #ffffff;
  background-color: #04848b;
}

input[type="search"].form-search:focus {
  background-color: #f7f7f7;
}

.layout-section-hero {
  color: #f7f7f7;
  background-color: #035e63;
}

.layout-section-hero a {
  color: #ffffff;
}

.layout-section-hero a:hover {
  background: #04848b;
}

.region-header {
  color: #f7f7f7;
  background-color: #06bcc6;
}

.region-header .block a {
  color: #ffffff;
}

.region-header .block ul.menu a:hover {
  background: #04848b;
}

.task-list.task-list--primary li a {
  color: rgba(0, 0, 0, 0.54);
  background: #e6e6e6;
}

.task-list.task-list--primary li a:hover {
  color: #ffffff;
  background: #06bcc6;
}

.task-list.task-list--primary li a.is-active {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

.task-list.task-list--primary li a.is-active:hover {
  color: #ffffff;
  background-color: #06bcc6;
}

.task-list.task-list--secondary a.is-active {
  color: #000000;
}

.layout-footer {
  background-color: #f7f7f7;
}

nav.menu--account .dropdown-account-menu:hover a,
.dropdown-hover:hover a {
  color: #06bcc6;
}

nav.menu--account .dropdown-account-menu:hover .dropdown-content,
.dropdown-hover:hover .dropdown-content {
  background: #ffffff;
}

nav.menu--account .dropdown-account-menu:hover .dropdown-content li a,
.dropdown-hover:hover .dropdown-content li a {
  color: rgba(0, 0, 0, 0.87);
}

nav.menu--account .dropdown-account-menu:hover .dropdown-content li a:hover,
.dropdown-hover:hover .dropdown-content li a:hover {
  color: #ffffff;
  background-color: #04848b;
}

.region-primary-menu nav.menu--main ul.menu a:hover {
  color: #ffffff;
}

@media only screen and (min-width: 769px) {
  .region-header nav.menu--main ul.menu li:hover a,
  .region-primary-menu nav.menu--main ul.menu li:hover a {
    color: #ffffff;
    background-color: #04848b;
  }
  .region-header nav.menu--main ul.menu li:hover ul li,
  .region-primary-menu nav.menu--main ul.menu li:hover ul li {
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
  .region-header nav.menu--main ul.menu li:hover ul li a,
  .region-primary-menu nav.menu--main ul.menu li:hover ul li a {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
  }
  .region-header nav.menu--main ul.menu li:hover ul li a:hover,
  .region-primary-menu nav.menu--main ul.menu li:hover ul li a:hover {
    color: #ffffff;
    background-color: #04848b;
  }
}

/*# sourceMappingURL=../../maps/core/theme/skin-teal.css.map */
