/* ==========================================================================
   ORANGE COLOR UTILITIES
   This file extends the Orange base color in tokens.css with different shades and provides utility classes for applying them.

   USAGE:

   Atomic: Apply classes like .orange, .orange-text, etc., directly to any
   HTML element.
   Block-level: Apply the same classes to a Drupal block to style the blocks
   content through the "Block Styles" UI.

   ACTIVATION:
   To use these styles, you must first enable the "Orange" color option in the
   Groundwork theme settings page.
   ========================================================================== */

/* ==========================================================================
    Orange Tokens
   ========================================================================== */
:root {
  --orange-light5: #FFF3E0;
  --orange-light4: #FFE0B2;
  --orange-light3: #FFCC80;
  --orange-light2: #FFB74D;
  --orange-light1: #FFA726;
  --orange-dark1: #FB8C00;
  --orange-dark2: #F57C00;
  --orange-dark3: #EF6C00;
  --orange-dark4: #E65100;
  --orange-dark5: #B03F00;
}

/* ==========================================================================
   Orange Utilities
   ========================================================================== */
.orange:not(.block),
.orange.block .block-style-target {
  /* This shade requires pure black text for WCAG AA compliance */
  color: var(--black) !important;
  background-color: var(--orange) !important;
}

.orange-inverted:not(.block),
.orange-inverted.block .block-style-target {
  color: var(--orange) !important;
  background-color: var(--white) !important;
}

.orange--light5:not(.block),
.orange--light5.block .block-style-target {
  color: var(--text-on-light) !important;
  background-color: var(--orange-light5) !important;
}

.orange--light4:not(.block),
.orange--light4.block .block-style-target {
  color: var(--text-on-light) !important;
  background-color: var(--orange-light4) !important;
}

.orange--light3:not(.block),
.orange--light3.block .block-style-target {
  color: var(--text-on-light) !important;
  background-color: var(--orange-light3) !important;
}

.orange--light2:not(.block),
.orange--light2.block .block-style-target {
  color: var(--text-on-light) !important;
  background-color: var(--orange-light2) !important;
}

.orange--light1:not(.block),
.orange--light1.block .block-style-target {
  color: var(--text-on-light) !important;
  background-color: var(--orange-light1) !important;
}

.orange--dark1:not(.block),
.orange--dark1.block .block-style-target {
  /* This shade requires pure black text and is only AA compliant for large text (18pt+) */
  color: var(--black) !important;
  background-color: var(--orange-dark1) !important;
}

.orange--dark2:not(.block),
.orange--dark2.block .block-style-target {
  color: var(--text-on-dark) !important;
  background-color: var(--orange-dark2) !important;
}

.orange--dark3:not(.block),
.orange--dark3.block .block-style-target {
  color: var(--text-on-dark) !important;
  background-color: var(--orange-dark3) !important;
}

.orange--dark4:not(.block),
.orange--dark4.block .block-style-target {
  color: var(--text-on-dark) !important;
  background-color: var(--orange-dark4) !important;
}

.orange--dark5:not(.block),
.orange--dark5.block .block-style-target {
  color: var(--text-on-dark) !important;
  background-color: var(--orange-dark5) !important;
}

.orange-text:not(.block),
.orange-text.block .block-style-target {
  color: var(--orange) !important;
}

.orange-border:not(.block),
.orange-border.block .block-style-target {
  border-color: var(--orange) !important;
}

.orange-hover:not(.block):hover,
.orange-hover.block .block-style-target:hover {
  color: var(--black) !important;
  background-color: var(--orange) !important;
}

.orange-hover-text:not(.block):hover,
.orange-hover-text.block .block-style-target:hover {
  color: var(--orange) !important;
}

.orange-hover-border:not(.block):hover,
.orange-hover-border.block .block-style-target:hover {
  border-color: var(--orange) !important;
}
