/* ==========================================================================
   BLUE COLOR UTILITIES
   This file extends the Blue base color in tokens.css with different shades and provides utility classes for applying them.

   USAGE:

   Atomic: Apply classes like .blue, .blue-text, etc., directly to any
   HTML element.
   Block-level: Apply the same classes to a Drupal block to style the blocks
   content through the "Block Styles" UI.

   ACTIVATION:
   To use these styles, you must first enable the "Blue" color option in the
   Groundwork theme settings page.
   ========================================================================== */

/* ==========================================================================
    Blue Tokens
    ========================================================================== */
:root {
  --blue-light5: hsl(from var(--blue) h s calc(l + 57%)); /* #f2f9fe */
  --blue-light4: hsl(from var(--blue) h s calc(l + 48%)); /* #d0eafc */
  --blue-light3: hsl(from var(--blue) h s calc(l + 36%)); /* #a0d5f8 */
  --blue-light2: hsl(from var(--blue) h s calc(l + 24%)); /* #71c0f4 */
  --blue-light1: hsl(from var(--blue) h s calc(l + 12%)); /* #41abf0 */
  --blue-dark1:  hsl(from var(--blue) h s calc(l - 4%));  /* #056eb2 */
  --blue-dark2:  hsl(from var(--blue) h s calc(l - 8%));  /* #05619e */
  --blue-dark3:  hsl(from var(--blue) h s calc(l - 11%)); /* #04548a */
  --blue-dark4:  hsl(from var(--blue) h s calc(l - 17%)); /* #03406c */
  --blue-dark5:  hsl(from var(--blue) h s calc(l - 21%)); /* #033358 */
}

/* ==========================================================================
   Blue Utilities
   ========================================================================== */
.blue:not(.block),
.blue.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue) !important;
}

.blue-inverted:not(.block),
.blue-inverted.block .block-style-target {
  color: var(--blue) !important;
  background-color: var(--color-text-light) !important;
}

.blue--light5:not(.block),
.blue--light5.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--blue-light5) !important;
}

.blue--light4:not(.block),
.blue--light4.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--blue-light4) !important;
}

.blue--light3:not(.block),
.blue--light3.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--blue-light3) !important;
}

.blue--light2:not(.block),
.blue--light2.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-light2) !important;
}

.blue--light1:not(.block),
.blue--light1.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-light1) !important;
}

.blue--dark1:not(.block),
.blue--dark1.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-dark1) !important;
}

.blue--dark2:not(.block),
.blue--dark2.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-dark2) !important;
}

.blue--dark3:not(.block),
.blue--dark3.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-dark3) !important;
}

.blue--dark4:not(.block),
.blue--dark4.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-dark4) !important;
}

.blue--dark5:not(.block),
.blue--dark5.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--blue-dark5) !important;
}

.blue-text:not(.block),
.blue-text.block .block-style-target {
  color: var(--blue) !important;
}

.blue-border:not(.block),
.blue-border.block .block-style-target {
  border-color: var(--blue) !important;
}

.blue-hover:not(.block):hover,
.blue-hover.block .block-style-target:hover {
  color: var(--color-text-light) !important;
  background-color: var(--blue) !important;
}

.blue-hover-text:not(.block):hover,
.blue-hover-text.block .block-style-target:hover {
  color: var(--blue) !important;
}

.blue-hover-border:not(.block):hover,
.blue-hover-border.block .block-style-target:hover {
  border-color: var(--blue) !important;
}
