/* ==========================================================================
   GOLD COLOR UTILITIES
   This file extends the Gold base color in tokens.css with different shades and provides utility classes for applying them.

   USAGE:

   Atomic: Apply classes like .gold, .gold-text, etc., directly to any
   HTML element.
   Block-level: Apply the same classes to a Drupal block to style the blocks
   content through the "Block Styles" UI.

   ACTIVATION:
   To use these styles, you must first enable the "Gold" color option in the
   Groundwork theme settings page.
   ========================================================================== */

/* ==========================================================================
    Gold Tokens
    ========================================================================== */
:root {
  --gold-light5: hsl(from var(--gold) h s calc(l + 57%)); /* #fef8f2 */
  --gold-light4: hsl(from var(--gold) h s calc(l + 48%)); /* #fcecd0 */
  --gold-light3: hsl(from var(--gold) h s calc(l + 36%)); /* #f8dda0 */
  --gold-light2: hsl(from var(--gold) h s calc(l + 24%)); /* #f4ce71 */
  --gold-light1: hsl(from var(--gold) h s calc(l + 12%)); /* #f0be41 */
  --gold-dark1:  hsl(from var(--gold) h s calc(l - 4%));  /* #b28c05 */
  --gold-dark2:  hsl(from var(--gold) h s calc(l - 8%));  /* #9e7c05 */
  --gold-dark3:  hsl(from var(--gold) h s calc(l - 11%)); /* #8a6c04 */
  --gold-dark4:  hsl(from var(--gold) h s calc(l - 17%)); /* #6c5503 */
  --gold-dark5:  hsl(from var(--gold) h s calc(l - 21%)); /* #584603 */
}

/* ==========================================================================
   Gold Utilities
   ========================================================================== */
.gold:not(.block),
.gold.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--gold) !important;
}

.gold-inverted:not(.block),
.gold-inverted.block .block-style-target {
  color: var(--gold) !important;
  background-color: var(--color-text-light) !important;
}

.gold--light5:not(.block),
.gold--light5.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--gold-light5) !important;
}

.gold--light4:not(.block),
.gold--light4.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--gold-light4) !important;
}

.gold--light3:not(.block),
.gold--light3.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--gold-light3) !important;
}

.gold--light2:not(.block),
.gold--light2.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--gold-light2) !important;
}

.gold--light1:not(.block),
.gold--light1.block .block-style-target {
  color: var(--color-text) !important;
  background-color: var(--gold-light1) !important;
}

.gold--dark1:not(.block),
.gold--dark1.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--gold-dark1) !important;
}

.gold--dark2:not(.block),
.gold--dark2.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--gold-dark2) !important;
}

.gold--dark3:not(.block),
.gold--dark3.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--gold-dark3) !important;
}

.gold--dark4:not(.block),
.gold--dark4.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--gold-dark4) !important;
}

.gold--dark5:not(.block),
.gold--dark5.block .block-style-target {
  color: var(--color-text-light) !important;
  background-color: var(--gold-dark5) !important;
}

.gold-text:not(.block),
.gold-text.block .block-style-target {
  color: var(--gold) !important;
}

.gold-border:not(.block),
.gold-border.block .block-style-target {
  border-color: var(--gold) !important;
}

.gold-hover:not(.block):hover,
.gold-hover.block .block-style-target:hover {
  color: var(--color-text-light) !important;
  background-color: var(--gold) !important;
}

.gold-hover-text:not(.block):hover,
.gold-hover-text.block .block-style-target:hover {
  color: var(--gold) !important;
}

.gold-hover-border:not(.block):hover,
.gold-hover-border.block .block-style-target:hover {
  border-color: var(--gold) !important;
}
