:root {
  /* foundational sizes */
  --font-size-base: 15px;

  /* typography */
  --google-font-url: "fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin-ext";
  --font-family-sans: "Ubuntu", "Segoe UI", "San Francisco", "Roboto", sans-serif;
  --font-family-serif: Georgia, "Times New Roman", Times, serif;
  --font-family-mono: "Lucida Console", Monaco, monospace;

  --font-family: var(--font-family-sans);
  --heading-font-family: var(--font-family-sans);
  --site-name-font-family: var(--font-family-sans);

  /* BEM helpers */
  --bem-block-name: "bem-block-name";
  --bem-element-name: "bem-element";
  --bem-element-separator: "__";
  --bem-modifier-separator: "--";

  /* modular scale / vertical rhythm */
   /* Scale Ratios */
  --scale-minor-second: 1.067;
  --scale-major-second: 1.125;
  --scale-minor-third: 1.2;
  --scale-major-third: 1.25;
  --scale-perfect-fourth: 1.333;
  --scale-augmented-fourth: 1.414;
  --scale-perfect-fifth: 1.5;
  --scale-golden-section: 1.618;
  --scale-major-sixth: 1.667;
  --scale-minor-seventh: 1.778;
  --scale-major-seventh: 1.875;
  --scale-octave: 2;
  
  /* Select your scale type and base font size */
  --scale-type: var(--scale-perfect-fourth);
  --scale-base: 1rem; /* Or 16px, etc. */

  /* Calculated Modular Scale (ms) values */
  --ms-0: var(--scale-base);
  --ms-1: calc(var(--ms-0) * var(--scale-type));
  --ms-2: calc(var(--ms-1) * var(--scale-type));
  --ms-3: calc(var(--ms-2) * var(--scale-type));
  --ms-4: calc(var(--ms-3) * var(--scale-type));


  /* grid */
  --gutter-width: 1.6rem;

  /* breakpoints */
  --breakpoint-small-screen: 768px;
  --breakpoint-medium-screen: 992px;
  --breakpoint-large-screen: 1200px;

  /* skin / theme */
  --skin-color: var(--grey);       /* expects --grey custom property */
}
