{# /components/social-bar/social-bar.html.twig #}
{% if links is not empty %}
  <div class="social-bar social-bar--align-{{ alignment|default('center') }}">
    <nav class="social-bar__inner" aria-label="Social media links">
      <ul class="social-links__list">
        {% for link in links %}
          <li class="social-links__item">
            {# We'll add real icons in the Pro version, for now text is fine #}
            <a href="{{ link.url }}" class="social-links__link" target="_blank" rel="noopener noreferrer">
              {{- link.name -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}