/**
 * @category ✨ Effects
 * @description Provides utilities for applying CSS filters, such as brightness, contrast, and grayscale effects.
 * @order 0
 */

/**
 * @name .filter
 * @description Enables the CSS filter property. Must be used with other filter utilities.
 * @blockStyleComponent true
 */
.filter:not(.block),
.filter.block.grid-cell .block-style-target {
  filter: var(--filter-blur, '') var(--filter-brightness, '') var(--filter-contrast, '') var(--filter-grayscale, '');
}

/**
 * @name .blur-sm
 * @description Applies a small blur effect.
 * @blockStyleComponent true
 */
.blur-sm:not(.block),
.blur-sm.block.grid-cell .block-style-target {
  --filter-blur: blur(4px);
}

/**
 * @name .grayscale
 * @description Renders the element in black and white.
 * @blockStyleComponent true
 */
.grayscale:not(.block),
.grayscale.block.grid-cell .block-style-target {
  --filter-grayscale: grayscale(100%);
}

/**
 * @name .brightness-75
 * @description Reduces the brightness of the element to 75%.
 * @blockStyleComponent true
 */
.brightness-75:not(.block),
.brightness-75.block.grid-cell .block-style-target {
  --filter-brightness: brightness(0.75);
}

/**
 * @name .contrast-125
 * @description Increases the contrast of the element to 125%.
 * @blockStyleComponent true
 */
.contrast-125:not(.block),
.contrast-125.block.grid-cell .block-style-target {
  --filter-contrast: contrast(1.25);
}

/**
 * @name .filter-none
 * @description Removes all filter effects.
 * @blockStyleComponent true
 */
.filter-none:not(.block),
.filter-none.block.grid-cell .block-style-target {
  filter: none;
}

/**
 * @name .hover-grayscale-0
 * @description Removes the grayscale effect on hover.
 * @blockStyleComponent true
 */
.hover-grayscale-0:not(.block):hover,
.hover-grayscale-0.block.grid-cell .block-style-target:hover {
  --filter-grayscale: grayscale(0);
}
