/**
 * @category 🔲 Layout
 * @description Defines utilities for controlling overflow behavior, including hidden, scroll, and auto.
 * @order 0
 */

/**
 * @name .overflow-hidden
 * @description Clips and hides content that overflows.
 * @blockStyleComponent true
 */
.overflow-hidden:not(.block),
.overflow-hidden.block.grid-cell .block-style-target {
  overflow: hidden;
}

/**
 * @name .overflow-auto
 * @description Adds scrollbars only when content overflows.
 * @blockStyleComponent true
 */
.overflow-auto:not(.block),
.overflow-auto.block.grid-cell .block-style-target {
  overflow: auto;
}

/**
 * @name .overflow-x-auto
 * @description Adds horizontal scrollbars only when needed.
 * @blockStyleComponent true
 */
.overflow-x-auto:not(.block),
.overflow-x-auto.block.grid-cell .block-style-target {
  overflow-x: auto;
}
