/**
 * @category 📐 Spacing
 * @description Defines padding utilities for controlling inner spacing of block content.
 * @order 0
 */


/**
 * @name .p-0
 * @description Removes all padding from the element.
 * @blockStyleComponent true
 */
.p-0:not(.block),
.p-0.block.grid-cell .block-style-target {
  padding: 0;
}

/**
 * @name .pt-0
 * @description Removes top padding from the element.
 * @blockStyleComponent true
 */
.pt-0:not(.block),
.pt-0.block.grid-cell .block-style-target {
  padding-top: 0;
}

/**
 * @name .pr-0
 * @description Removes right padding from the element.
 * @blockStyleComponent true
 */
.pr-0:not(.block),
.pr-0.block.grid-cell .block-style-target {
  padding-right: 0;
}

/**
 * @name .pb-0
 * @description Removes bottom padding from the element.
 * @blockStyleComponent true
 */
.pb-0:not(.block),
.pb-0.block.grid-cell .block-style-target {
  padding-bottom: 0;
}

/**
 * @name .pl-0
 * @description Removes left padding from the element.
 * @blockStyleComponent true
 */
.pl-0:not(.block),
.pl-0.block.grid-cell .block-style-target {
  padding-left: 0;
}

/**
 * @name .px-0
 * @description Removes horizontal padding (left and right) from the element.
 * @blockStyleComponent true
 */
.px-0:not(.block),
.px-0.block.grid-cell .block-style-target {
  padding-left: 0;
  padding-right: 0;
}

/**
 * @name .py-0
 * @description Removes vertical padding (top and bottom) from the element.
 * @blockStyleComponent true
 */
.py-0:not(.block),
.py-0.block.grid-cell .block-style-target {
  padding-top: 0;
  padding-bottom: 0;
}


/**
 * @name .p-xs
 * @description Applies small padding on all sides using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.p-xs:not(.block),
.p-xs.block.grid-cell .block-style-target {
  padding: var(--space-xs, 0.4rem);
}

/**
 * @name .pt-xs
 * @description Applies small top padding using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.pt-xs:not(.block),
.pt-xs.block.grid-cell .block-style-target {
  padding-top: var(--space-xs, 0.4rem);
}

/**
 * @name .pr-xs
 * @description Applies small right padding using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.pr-xs:not(.block),
.pr-xs.block.grid-cell .block-style-target {
  padding-right: var(--space-xs, 0.4rem);
}

/**
 * @name .pb-xs
 * @description Applies small bottom padding using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.pb-xs:not(.block),
.pb-xs.block.grid-cell .block-style-target {
  padding-bottom: var(--space-xs, 0.4rem);
}

/**
 * @name .pl-xs
 * @description Applies small left padding using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.pl-xs:not(.block),
.pl-xs.block.grid-cell .block-style-target {
  padding-left: var(--space-xs, 0.4rem);
}

/**
 * @name .px-xs
 * @description Applies small horizontal padding (left and right) using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.px-xs:not(.block),
.px-xs.block.grid-cell .block-style-target {
  padding-left: var(--space-xs, 0.4rem);
  padding-right: var(--space-xs, 0.4rem);
}

/**
 * @name .py-xs
 * @description Applies small vertical padding (top and bottom) using the first step in the spacing scale.
 * @blockStyleComponent true
 */
.py-xs:not(.block),
.py-xs.block.grid-cell .block-style-target {
  padding-top: var(--space-xs, 0.4rem);
  padding-bottom: var(--space-xs, 0.4rem);
}


/**
 * @name .p-sm
 * @description Applies moderate padding on all sides using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.p-sm:not(.block),
.p-sm.block.grid-cell .block-style-target {
  padding: var(--space-sm, 0.8rem);
}

/**
 * @name .pt-sm
 * @description Applies moderate top padding using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.pt-sm:not(.block),
.pt-sm.block.grid-cell .block-style-target {
  padding-top: var(--space-sm, 0.8rem);
}

/**
 * @name .pr-sm
 * @description Applies moderate right padding using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.pr-sm:not(.block),
.pr-sm.block.grid-cell .block-style-target {
  padding-right: var(--space-sm, 0.8rem);
}

/**
 * @name .pb-sm
 * @description Applies moderate bottom padding using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.pb-sm:not(.block),
.pb-sm.block.grid-cell .block-style-target {
  padding-bottom: var(--space-sm, 0.8rem);
}

/**
 * @name .pl-sm
 * @description Applies moderate left padding using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.pl-sm:not(.block),
.pl-sm.block.grid-cell .block-style-target {
  padding-left: var(--space-sm, 0.8rem);
}

/**
 * @name .px-sm
 * @description Applies moderate horizontal padding (left and right) using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.px-sm:not(.block),
.px-sm.block.grid-cell .block-style-target {
  padding-left: var(--space-sm, 0.8rem);
  padding-right: var(--space-sm, 0.8rem);
}

/**
 * @name .py-sm
 * @description Applies moderate vertical padding (top and bottom) using the second step in the spacing scale.
 * @blockStyleComponent true
 */
.py-sm:not(.block),
.py-sm.block.grid-cell .block-style-target {
  padding-top: var(--space-sm, 0.8rem);
  padding-bottom: var(--space-sm, 0.8rem);
}


/**
 * @name .p-md
 * @description Applies medium padding on all sides using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.p-md:not(.block),
.p-md.block.grid-cell .block-style-target {
  padding: var(--space-md, 1.6rem);
}

/**
 * @name .pt-md
 * @description Applies medium top padding using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.pt-md:not(.block),
.pt-md.block.grid-cell .block-style-target {
  padding-top: var(--space-md, 1.6rem);
}

/**
 * @name .pr-md
 * @description Applies medium right padding using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.pr-md:not(.block),
.pr-md.block.grid-cell .block-style-target {
  padding-right: var(--space-md, 1.6rem);
}

/**
 * @name .pb-md
 * @description Applies medium bottom padding using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.pb-md:not(.block),
.pb-md.block.grid-cell .block-style-target {
  padding-bottom: var(--space-md, 1.6rem);
}

/**
 * @name .pl-md
 * @description Applies medium left padding using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.pl-md:not(.block),
.pl-md.block.grid-cell .block-style-target {
  padding-left: var(--space-md, 1.6rem);
}

/**
 * @name .px-md
 * @description Applies medium horizontal padding (left and right) using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.px-md:not(.block),
.px-md.block.grid-cell .block-style-target {
  padding-left: var(--space-md, 1.6rem);
  padding-right: var(--space-md, 1.6rem);
}

/**
 * @name .py-md
 * @description Applies medium vertical padding (top and bottom) using the third step in the spacing scale.
 * @blockStyleComponent true
 */
.py-md:not(.block),
.py-md.block.grid-cell .block-style-target {
  padding-top: var(--space-md, 1.6rem);
  padding-bottom: var(--space-md, 1.6rem);
}


/**
 * @name .p-lg
 * @description Applies large padding on all sides using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.p-lg:not(.block),
.p-lg.block.grid-cell .block-style-target {
  padding: var(--space-lg, 2.4rem);
}

/**
 * @name .pt-lg
 * @description Applies large top padding using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.pt-lg:not(.block),
.pt-lg.block.grid-cell .block-style-target {
  padding-top: var(--space-lg, 2.4rem);
}

/**
 * @name .pr-lg
 * @description Applies large right padding using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.pr-lg:not(.block),
.pr-lg.block.grid-cell .block-style-target {
  padding-right: var(--space-lg, 2.4rem);
}

/**
 * @name .pb-lg
 * @description Applies large bottom padding using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.pb-lg:not(.block),
.pb-lg.block.grid-cell .block-style-target {
  padding-bottom: var(--space-lg, 2.4rem);
}

/**
 * @name .pl-lg
 * @description Applies large left padding using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.pl-lg:not(.block),
.pl-lg.block.grid-cell .block-style-target {
  padding-left: var(--space-lg, 2.4rem);
}

/**
 * @name .px-lg
 * @description Applies large horizontal padding (left and right) using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.px-lg:not(.block),
.px-lg.block.grid-cell .block-style-target {
  padding-left: var(--space-lg, 2.4rem);
  padding-right: var(--space-lg, 2.4rem);
}

/**
 * @name .py-lg
 * @description Applies large vertical padding (top and bottom) using the fourth step in the spacing scale.
 * @blockStyleComponent true
 */
.py-lg:not(.block),
.py-lg.block.grid-cell .block-style-target {
  padding-top: var(--space-lg, 2.4rem);
  padding-bottom: var(--space-lg, 2.4rem);
}


/**
 * @name .p-xl
 * @description Applies extra-large padding on all sides using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.p-xl:not(.block),
.p-xl.block.grid-cell .block-style-target {
  padding: var(--space-xl, 3.2rem);
}

/**
 * @name .pt-xl
 * @description Applies extra-large top padding using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.pt-xl:not(.block),
.pt-xl.block.grid-cell .block-style-target {
  padding-top: var(--space-xl, 3.2rem);
}

/**
 * @name .pr-xl
 * @description Applies extra-large right padding using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.pr-xl:not(.block),
.pr-xl.block.grid-cell .block-style-target {
  padding-right: var(--space-xl, 3.2rem);
}

/**
 * @name .pb-xl
 * @description Applies extra-large bottom padding using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.pb-xl:not(.block),
.pb-xl.block.grid-cell .block-style-target {
  padding-bottom: var(--space-xl, 3.2rem);
}

/**
 * @name .pl-xl
 * @description Applies extra-large left padding using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.pl-xl:not(.block),
.pl-xl.block.grid-cell .block-style-target {
  padding-left: var(--space-xl, 3.2rem);
}

/**
 * @name .px-xl
 * @description Applies extra-large horizontal padding (left and right) using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.px-xl:not(.block),
.px-xl.block.grid-cell .block-style-target {
  padding-left: var(--space-xl, 3.2rem);
  padding-right: var(--space-xl, 3.2rem);
}

/**
 * @name .py-xl
 * @description Applies extra-large vertical padding (top and bottom) using the fifth step in the spacing scale.
 * @blockStyleComponent true
 */
.py-xl:not(.block),
.py-xl.block.grid-cell .block-style-target {
  padding-top: var(--space-xl, 3.2rem);
  padding-bottom: var(--space-xl, 3.2rem);
}


/**
 * @name .p-xxl
 * @description Applies extra-extra-large padding on all sides using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.p-xxl:not(.block),
.p-xxl.block.grid-cell .block-style-target {
  padding: var(--space-xxl, 4rem);
}

/**
 * @name .pt-xxl
 * @description Applies extra-extra-large top padding using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.pt-xxl:not(.block),
.pt-xxl.block.grid-cell .block-style-target {
  padding-top: var(--space-xxl, 4rem);
}

/**
 * @name .pr-xxl
 * @description Applies extra-extra-large right padding using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.pr-xxl:not(.block),
.pr-xxl.block.grid-cell .block-style-target {
  padding-right: var(--space-xxl, 4rem);
}

/**
 * @name .pb-xxl
 * @description Applies extra-extra-large bottom padding using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.pb-xxl:not(.block),
.pb-xxl.block.grid-cell .block-style-target {
  padding-bottom: var(--space-xxl, 4rem);
}

/**
 * @name .pl-xxl
 * @description Applies extra-extra-large left padding using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.pl-xxl:not(.block),
.pl-xxl.block.grid-cell .block-style-target {
  padding-left: var(--space-xxl, 4rem);
}

/**
 * @name .px-xxl
 * @description Applies extra-extra-large horizontal padding (left and right) using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.px-xxl:not(.block),
.px-xxl.block.grid-cell .block-style-target {
  padding-left: var(--space-xxl, 4rem);
  padding-right: var(--space-xxl, 4rem);
}

/**
 * @name .py-xxl
 * @description Applies extra-extra-large vertical padding (top and bottom) using the sixth step in the spacing scale.
 * @blockStyleComponent true
 */
.py-xxl:not(.block),
.py-xxl.block.grid-cell .block-style-target {
  padding-top: var(--space-xxl, 4rem);
  padding-bottom: var(--space-xxl, 4rem);
}

