/**
 * @category ✨ Effects
 * @description Provides utilities for applying smooth transitions during state changes.
 * @order 0
 */

/**
 * @name .transition-all
 * @description Applies a transition to all animatable properties.
 * @blockStyleComponent true
 */
.transition-all:not(.block),
.transition-all.block.grid-cell .block-style-target {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/**
 * @name .duration-500
 * @description Sets a transition duration of 500ms.
 * @blockStyleComponent true
 */
.duration-500:not(.block),
.duration-500.block.grid-cell .block-style-target {
  transition-duration: 500ms;
}

/**
 * @name .ease-in-out
 * @description Applies a standard ease-in-out timing function.
 * @blockStyleComponent true
 */
.ease-in-out:not(.block),
.ease-in-out.block.grid-cell .block-style-target {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
