/**
 * @category 🔤 Typography
 * @description Provides utilities for controlling text selection behavior, including none, text, and all.
 * @order 0
 */

/**
 * @name .select-none
 * @description Prevents the user from selecting the text content.
 * @blockStyleComponent true
 */
.select-none:not(.block),
.select-none.block.grid-cell .block-style-target {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

/**
 * @name .select-text
 * @description Allows the user to select the text content.
 * @blockStyleComponent true
 */
.select-text:not(.block),
.select-text.block.grid-cell .block-style-target {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/**
 * @name .select-all
 * @description Makes all text within the element selectable when clicked.
 * @blockStyleComponent true
 */
.select-all:not(.block),
.select-all.block.grid-cell .block-style-target {
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

