/* ==========================================================================
   Page Layout Shell
   ========================================================================== */

/*
 * Sticky Footer: Ensures the footer stays at the bottom of the viewport
 * on pages with short content.
 */
.layout-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--drupal-displace-offset-top, 0px));
}

main.layout-main {
  flex-grow: 1;
}




/* ==========================================================================
   Site Footer Legal Section
   ========================================================================== */

.site-footer__legal {
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-1) var(--space-2);

  /* These colors are static and won't change with the theme */
  background-color: var(--grey);
  color: var(--color-text-light);

  font-size: var(--ms-sm);
  text-align: center;
}

.site-footer__legal a {
  color: var(--color-text-light);
  text-decoration: underline;
}

.site-footer__legal a:hover {
  text-decoration: none;
}
