.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--space-xxl);
  background-size: cover;
  background-position: center;
}

.hero--vh-100 {
  min-height: 100vh;
}
.hero--vh-75 {
  min-height: 75vh;
}
.hero--vh-50 {
  min-height: 50vh;
}

.hero__title {
  font-size: var(--ms-xxl);
  margin-bottom: var(--space-md);
}

.hero__content {
  font-size: var(--ms-lg);
  margin-bottom: var(--space-lg);
}

.hero__actions {
  margin-top: var(--space-lg);
}

.button.hero__button {
  font-weight: bold;
  color: var(--white);
}

.button.hero__button--info {
  background-color: var(--color-info);

  &.hero__button:hover:not(:disabled) {
    background-color: var(--color-info-dark);
  }
}
.button.hero__button--notice {
  background-color: var(--color-notice);

  &.hero__button:hover:not(:disabled) {
    background-color: var(--color-notice-dark);
  }
}
.button.hero__button--success {
  background-color: var(--color-success);

  &.hero__button:hover:not(:disabled) {
    background-color: var(--color-success-dark);
  }
}

.button.hero__button--danger {
  background-color: var(--color-danger);

  &.hero__button:hover:not(:disabled) {
    background-color: var(--color-danger-dark);
  }
}
.button.hero__button--warning {
  background-color: var(--color-warning);

  &.hero__button:hover:not(:disabled) {
    background-color: var(--color-warning-dark);
  }
}
/* WCAG-compliant: all use white text on dark bg */
