<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>title</title>
</head>
<body>

  <div class="layout-billboard">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<header id="header" role="banner" class="layout-header" aria-label="Header">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</header>

<div class="layout-primary_menu" aria-label="Primary Menu">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block menu content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-secondary_menu" aria-label="Secondary Menu">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block menu content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-hero" aria-label="Hero">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-highlighted" aria-label="Highlighted">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-help" aria-label="Help">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-breadcrumb" aria-label="Breadcrumb">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<main role="main" class="layout-main">
  <a id="main-content" tabindex="-1"></a>

  <div class="layout-container">
    <div class="layout-content" id="content">
      <div class="region grid">
        <div class="block grid-cell">
          <div class="block-style-target">
            <!-- Block content here -->
            <!-- Block content here -->
            <!-- Block content here -->
          </div>
        </div>
      </div>
    </div>

    <aside id="sidebar-first" class="layout-sidebar-first" role="complementary" aria-label="First Sidebar">
      <div class="region grid">
        <div class="block grid-cell">
          <div class="block-style-target">
            <!-- Block first content here -->
          </div>
        </div>
      </div>
    </aside>

    <aside id="sidebar-second" class="layout-sidebar-second" role="complementary" aria-label="Second Sidebar">
      <div class="region grid">
        <div class="block grid-cell">
          <div class="block-style-target">
            <!-- Block second content here -->
          </div>
        </div>
      </div>
    </aside>
  </div>
</main>

<div class="layout-supplement" aria-label="Supplement">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-extra" aria-label="Extra">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<div class="layout-rider" aria-label="Rider">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</div>

<footer id="footer" class="layout-footer" role="contentinfo" aria-label="Footer">
  <div class="region grid">
    <div class="block grid-cell">
      <div class="block-style-target">
        <!-- Block content here -->
      </div>
    </div>
  </div>
</footer>

</body>
</html>
